/*******************************************************/
/* GENERAL */
/*******************************************************/

html {
    font-family: Roboto;
    color: #212121;
}

.main-section {
    border: 1px solid #000;
    padding: 0 7.5%;
}

footer {
    border: 1px solid #000;
}

a {
    text-decoration: none;
    color: #212121;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/*******************************************************/
/* LANDING SECTION */
/*******************************************************/

.landing {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav-bar > .logo > img {
    margin: 25px 0 0 25px;
    height: 50px;
}

.lang {
    flex-grow: 1;
    text-align: right;
    margin-right: 25px;
}

.lang > h5 {
    display: inline-block;
    margin: 40px 0 0 15px;
    font-size: 16px;
}

.title {
    margin: 175px 0 250px 0;
}

.title > h1 {
    margin: 0;
    font-size: 100px;
    letter-spacing: 10px;
}

.title > h3 {
    margin: 0;
    padding-top: 15px;
    font-size: 28px;
    letter-spacing: 3px;
}

/*******************************************************/
/* PRESS SECTION */
/*******************************************************/

.press {
    display: flex;
    flex-direction: column;
}

.title-section {
    padding: 125px 0 75px 0;
    text-align: center;
}

.title-section > h2 {
    letter-spacing: 35px;
    font-size: 63px;
    margin: 0;
}

.news-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-card {
    flex-grow: 1;
    flex-basis: 25%;
}

.news-card:nth-child(1), .news-card:nth-child(3) {
    background-color: #F0F0F0;
}

.news-card:nth-child(2), .news-card:nth-child(4) {
    background-color: #F7F7F7;
}

.news-card-img > img {
    width: 100%;
    min-width: 200px;
}

.news-card-content {
    padding: 0 10%;
}

.news-card-author {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.news-card-author > img {
    align-self: center;
    width: 30px;
    height: 30px;
}

.news-card-author > h6 {
    align-self: center;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.4em;
    padding-left: 10px;
}

.news-card-title > h3 {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.8em;
    font-weight: bolder;
    width: 100%;
}

.news-card-text > p {
    line-height: 1.6em;
    letter-spacing: 1px;
    font-size: 16px;
}

.news-card-divider {
    margin: 50px 0 0 0;
    border: 1px solid #000;
}

.news-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-card-footer > h6 {
    font-size: 14px;
    margin: 30px 0 30px 0;
    letter-spacing: 2px;
    line-height: 1.4em;
}

.news-card-tag {
    font-weight: 900;
    color: #212121;
}

.news-card-date {
    font-weight: 100;
    color: #9E9E9E;
    width: 100%;
    text-align: right;
}

.more-section {
    padding: 125px 0 125px 0;
    text-align: center;
}

.more-section > div {
    border: 1px solid #212121;
    margin: 0 10%;
}

.more-section > button {
    background-color: #FFF;
    border: 2px solid #212121;
    position: relative;
    top: -28px;
    font-size: 24px;
    padding: 12px 28px;
    border-radius: 100px;
    letter-spacing: 3px;
}

/*******************************************************/
/* TECH SECTION */
/*******************************************************/



/*******************************************************/
/* PARTNERS SECTION */
/*******************************************************/



/*******************************************************/
/* TEAM SECTION */
/*******************************************************/



/*******************************************************/
/* CONTACT SECTION */
/*******************************************************/



/*******************************************************/
/* FOOTER SECTION */
/*******************************************************/


