/*******************************************************/
/* GENERAL */
/*******************************************************/

.main-section {
    border: 1px solid #000;
}

footer {
    border: 1px solid #000;
}

/*******************************************************/
/* LANDING SECTION */
/*******************************************************/

.landing {
    /*background-image: url("../img/group.JPG");*/
    background-size: 100%;
    height: 100vh;
    vertical-align: middle;
}

.lang {
    margin-right: 25px;
}

.lang > h5 {
    float: right;
    margin: 25px 10px 0 0;
    font-size: 16px;
}

.landing > h1 {
    text-align: center;
    font-size: 84px;
}




/*******************************************************/
/* PARTNERS SECTION */
/*******************************************************/



/*******************************************************/
/* TECH SECTION */
/*******************************************************/



/*******************************************************/
/* TEAM SECTION */
/*******************************************************/



/*******************************************************/
/* PRESS SECTION */
/*******************************************************/



/*******************************************************/
/* CONTACT SECTION */
/*******************************************************/



/*******************************************************/
/* FOOTER SECTION */
/*******************************************************/


